<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>BruinDoodle.io Speech and Video</title>
    </head>
    <body>
        <h1>Speech and Video demo</h1>
        <div id="controls">
            <button id="recordButton">Record</button>
            <button id="pauseButton" disabled>Pause</button>
            <button id="stopButton" disabled>Stop</button>
        </div>
    <div>
        <div class="control"><button id="startAndStop" disabled>Start</button></div>
    </div>
    <div id="formats">Format: start recording to see sample rate</div>
    <!-- <p><strong>Recordings:</strong></p>-->
    <ol id="recordingsList"></ol>
    <p class="err" id="errorMessage"></p>
    <div>
        <table cellpadding="0" cellspacing="0" width="0" border="0">
            <tr>
                <td>
                    <video id="videoInput" width=320 height=240></video>
                </td>
                <td>
                    <canvas id="canvasOutput" width=320 height=240></canvas>
                </td>
                <td>
                    <canvas id="sockOutput" width=320 height=240></canvas>
                </td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>
                    <div class="caption">videoInput</div>
                </td>
                <td>
                    <div class="caption">canvasOutput</div>
                </td>
                <td>
                    <div class="caption">sockOutput</div>
                </td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </table>
    </div>
    <script src="/static/js/recorder.js"></script> 
    <script src="/static/js/app.js"></script>
    <script src="/static/js/socket.io.js"></script>
    <script src="https://webrtc.github.io/adapter/adapter-5.0.4.js" type="text/javascript"></script>
    <script src="/static/js/utils.js" type="text/javascript"></script>
    <script type="text/javascript">
let utils = new Utils('errorMessage');

let streaming = false;
let videoInput = document.getElementById('videoInput');
let startAndStop = document.getElementById('startAndStop');
let canvasOutput = document.getElementById('canvasOutput');
let canvasContext = canvasOutput.getContext('2d');
let sockOutput = document.getElementById('sockOutput');
let sockContext = sockOutput.getContext('2d');

startAndStop.addEventListener('click', () => {
    if (!streaming) {
        utils.clearError();
        utils.startCamera('qvga', onVideoStarted, 'videoInput');
    } else {
        utils.stopCamera();
        onVideoStopped();
    }
});

function onVideoStarted() {
    streaming = true;
    startAndStop.innerText = 'Stop';
    videoInput.width = videoInput.videoWidth;
    videoInput.height = videoInput.videoHeight;
    utils.executeCode('codeEditor');
}

function onVideoStopped() {
    streaming = false;
    canvasContext.clearRect(0, 0, canvasOutput.width, canvasOutput.height);
    sockContext.clearRect(0, 0, sockOutput.width, sockOutput.height);
    startAndStop.innerText = 'Start';
}

utils.loadOpenCv(() => {
    startAndStop.removeAttribute('disabled');
});
</script>
</body>
</html>
